@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@font-face {
    font-family: snowwhite;
    src: url(../fonts/Snowwhite.otf);
}

/* menu */
.menu-banner{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/menu.jpg) center center;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
}

.menu-description{
    text-align: center;
    color: #ce1212;
    font-family: 'snowwhite', cursive;
}
.menu-list{
    color: #ce1212;
    font-family: 'Alkatra', cursive;
}
@media (min-width: 320px){
    .menu-banner{
        height: 450px;
    }
    
}
@media (min-width: 768px){
    .menu-banner{
        height: 500px;
    }
}